body {
    background-color: hsl(120, 10%, 50%);
    display: grid;
    grid-template-columns: 1fr 8fr 5fr 1fr;
}
    div.left {
        display: inline-block;
        grid-column: 2/3;
        background-color: hsl(210, 10%, 50%);
        margin-top: 3vh;
        width: 100%;
        height: 94vh;
    }
        form {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            height: 94vh;
        }
            textarea {
                display: inline-block;
                width: 100%;
                resize: none;
                height: 75vh;
            }
            input {
                display: inline-block;
                width: 25%;
                height: 40px;
            }
    div.right {
        display: flex;
        flex-flow: column;
        grid-column: 3/4;
        background-color: hsl(300, 10%, 50%);
        margin-top: 3vh;
        padding: 2vh 2vw;
    }
        h1 {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 28px;
            line-height: 30px;
            text-transform: uppercase;
        }
            h1::after {
                content: ':';
            }
        .row {
            display: inline-block;
            width: 100%;
            background-color: hsl(120, 5%, 75%);
            margin: 1vh 0%;
        }
            p {
                display: inline-block;
                width: 50%;
                font-size: 16px;
                line-height: 20px;
                text-align: right;
                float: left;
            }
                p::after {
                    content: ' kiekis :';
                }
            .row > div {
                display: inline-block;
                width: 20%;
                margin: 0% 15%;
                float: left;
                font-size: 18px;
                line-height: 20px;
                font-weight: bold;
            }